<nav>
    <div class="navbar">
        <div class="logo">
            <a href="#">Illam</a>
        </div>
        <div class="navbar-links-div">
            <ul class="links">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Properties</a>
                    <ul class="sub-menu">
                        <li><a href="#">Look For A Property</a></li>
                        <li><a href="#">Post Your Property</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section>
    <p class="heading">
        BUY, SELL, AND RENT
    </p>
    <p class="sub-heading">
        Are you looking for a property or you want to sell your property ? We are there !
       </p>
    
        <div class="bg-img-div">
            <div class="slnt-img">
                <%= image_tag('home_img.jpg',{class: 'bg-img' }) %>
            </div>
            <div class="slnt-img">
                <%= image_tag('home2.jpg',{class: 'bg-img' }) %>
            </div>
            <div class="slnt-img">
                <%= image_tag('home3.jpg',{class: 'bg-img' }) %>
            </div>
        </div>    
</section>
  
